@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	@apply m-0 box-border p-0;
}

body {
	font-family: "Poppins", sans-serrif;
	transition: background-color 300ms;
}

h1,
h2,
h3,
h3 {
	line-height: 120%;
}

/* --- */

h1 {
	font-size: 5.61rem;
}

h2 {
	font-size: 4.209rem;
}

h3 {
	font-size: 3.157rem;
}

h4 {
	font-size: 2.369rem;
}
